body {
  background-color: #f4f7f5;
  margin: 0;
  padding: 0;
}

h2 {
  margin: 0;
}

#content {
  max-width: 1600px;
  margin: 0 auto;
}

header,
footer {
  background-color: rgba(132, 121, 121, 0.7);
}

header {
  display: grid;
  grid-template-columns: 150px auto;
}

h2 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

h4 {
  color: #01295f;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav {
  display: flex;
  justify-content: flex-end;
}

p,
nav {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav a {
  font-size: 1.2em;
  text-align: center;
  color: #f4f7f5;
  text-decoration: none;
  padding: 35px;
}

nav a:hover {
  background-color: #01295f;
  color: #f4f7f5;
}

.active {
  background-color: #01295f;
  color: #f4f7f5;
}

.logo {
  width: 80px;
}

#logo-link {
  /* padding-top: 10px; */
  justify-self: center;
  align-self: center;
}

#hero {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  /* margin-top: -100px; */
}

#hero-box {
  grid-column: 1/4;
  grid-row: 1/3;
  z-index: -1;
}

#hero-img {
  width: 100%;
}

.icon {
  width: 80px;
  padding-top: 10px;
}

#hero-msg {
  grid-column: 2/3;
  grid-row: 1 / 2;
  margin-top: 100px;
}

#hero-msg h1,
#hero-msg h4 {
  color: #f4f7f5;
  text-align: center;
}

.home-title {
  color: #01295f;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  font-size: 2em;
  margin-top: 10px;
}

.title {
  color: #01295f;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  font-size: 2em;
  margin-top: 100px;
  text-align: center;
}

.button-box {
  text-align: center;
}

.home-grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

.card-img,
.mountains {
  width: 100%;
}

.card-img {
  transition: transform 0.5s;
  box-shadow: 5px 5px 10px #6f7364;
}

.card-img:hover {
  opacity: 0.6;
  transform: scale(1.1);
}

main section {
  text-align: center;
}

main section img {
  box-sizing: border-box;
}

.book,
.join {
  background-color: #04724d;
  color: #f4f7f5;
  text-decoration: none;
  font-size: 18px;
  padding: 15px 30px;
  margin-top: 50px;
  border-radius: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.book:hover,
.join:hover {
  background-color: #01295f;
  color: #f4f7f5;
}

.card-img {
  border: 10px solid rgba(132, 121, 121, 0.7);
}

.rivers-card,
.camping-card,
.rapids-card {
  margin: 200px 0;
}

.rivers-card {
  grid-column: 2 / 4;
  grid-row: 2 / 3;
}

.camping-card {
  grid-column: 5 / 7;
  grid-row: 2 / 3;
}

.rapids-card {
  grid-column: 8 / 10;
  grid-row: 2 / 3;
}

#background {
  height: 725px;
  background-color: rgb(4, 114, 77, 0.3);
  grid-column: 1 / 11;
  grid-row: 4 / 9;
}

.mountains {
  grid-column: 2 / 7;
  grid-row: 5 / 8;
  box-shadow: 5px 5px 10px rgba(132, 121, 121, 1);
}

.msg {
  background-color: rgba(132, 121, 121, 1);
  line-height: 1.5em;
  padding: 35px;
  grid-column: 6 / 10;
  grid-row: 6 / 7;
  box-shadow: 5px 5px 10px rgba(132, 121, 121, 1);
}

.msg h2 {
  color: #f4f7f5;
}

.msg p {
  color: #f4f7f5;
  font-size: 0.8em;
  padding-bottom: 15px;
}

.coming_soon {
  margin: 100px auto;
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  font-size: 4em;
}

footer {
  color: #01295f;
  padding: 25px 50px;
  margin-top: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer p {
  font-size: 1.2em;
}

footer a {
  text-decoration: none;
  color: #01295f;
}

footer p a:hover {
  text-decoration: underline;
  color: #ffffff;
}

footer .social img {
  padding-top: 15px;
}

/* Rivers Styling */

#rivers-hero {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(1, 1fr);
  /* margin-top: -100px; */
}

#rivers-hero-box {
  /* margin-top: 50px; */
  margin-bottom: 50px;
  grid-column: 1/6;
  grid-row: 1/2;
  z-index: -1;
}

.flip-image {
  transform: rotateY(180deg);
}

.rivers-title {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  font-size: 2em;
  margin-top: 10px;
}

.river-msg h1 {
  color: #01295f;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}
.river-msg p {
  color: #01295f;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#rivers-hero-img {
  width: 100%;
}

.icon {
  width: 80px;
  padding-top: 10px;
}

#rivers-hero-msg {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  margin-top: 100px;
}

#rivers-hero-msg h1,
#rivers-hero-msg h4 {
  color: #ffffff;
  text-align: center;
}


.rivers {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 100px;
  margin: 0px 50px;
}

.grid-item {
  position: relative;
}

.grid-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 10px solid rgba(132, 121, 121, 0.7);
  transition: transform 0.5s;
  box-shadow: 5px 5px 10px #6f7364;
}

.grid-item img:hover {
  opacity: 0.6;
  transform: scale(1.1);
}

.river-msg {
  display: flex;
  flex-direction: column;
  align-items: center; /* Vertically centers the content */
  justify-content: center; /* Horizontally centers the content */
  /* height: 500px; Set height for each grid item */
  /* text-align: center; */
}

#msg-1 {
  min-height: 600px;
}

#msg-2, #msg-3, #msg-4 {
  min-height: 400px;
}

#msg-5, #msg-6 {
  min-height: 300px;
}


/* Rivers Styling End */

/* Contact Us Styling */

.contact-us-content {
  min-height: 100vh;
}

/* Contact Us Styling End */

@media screen and (max-width: 900px) {
  #hero,
  .home-grid {
    display: block;
    height: auto;
  }
  nav,
  footer {
    flex-direction: column;
  }
  nav a {
    display: block;
    padding: 15px;
  }
  #hero {
    margin-top: 0;
  }
  #hero-msg {
    margin-top: 0;
  }
  #hero-msg h4 {
    display: none;
  }
  #hero-msg h1 {
    color: #6f7364;
  }
  .home-title {
    font-size: 25px;
  }

  .rivers {
    gap: 0px;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
  }

  #img-1 {
    grid-row: 1 / 2;
  }

  #msg-1 {
    grid-row: 2 / 3;
  }
  
  #img-2 {
    grid-row: 3 / 4;
  }

  #msg-2 {
    grid-row: 4 / 5;
  }

  #img-3 {
    grid-row: 5 / 6;
  }

  #msg-3 {
    grid-row: 6 / 7;
  }

  #img-4 {
    grid-row: 7 / 8;
  }

  #msg-4 {
    grid-row: 8 / 9;
  }

  #img-5 {
    grid-row: 10 / 11;
  }

  #msg-5 {
    grid-row: 11 / 12;
  }

  #img-6 {
    grid-row: 12 / 13;
  }

  #msg-6 {
    grid-row: 13 / 14;
  }

  .rivers-card,
  .camping-card,
  .rapids-card {
    margin: 50px auto;
    width: 60%;
  }
  #background {
    display: none;
  }
  .mountains,
  .msg {
    width: 80%;
    display: block;
    margin: 0 auto;
  }
  footer {
    margin-top: 25px;
  }
}
